*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cabecera{
    position: relative;
}
.menu{
    display: flex;
    width: 100%;
    z-index: 2000;
    position: fixed;
    top: 0;
}
.logo{
    margin-left: 45px;
    height: 60px;

}
.logo img{
    height: 60px
}

.navb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #141111;
}
.navb h4{
    color: whitesmoke;
}
.btn-carrito{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: whitesmoke;
    background-color: transparent;
    margin-right: 80px;

}
.cant-productos{
    position: absolute;
    top: 10px;
    left: 15px;
    color: black;
    background-color: rgb(150, 150, 3);
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.carrito{
    font-size: 25px;
}
.carrito:hover{
    color: yellow;
}

.carrito_compras{
    display: none;
    position: fixed;
    z-index: 10000;
    background-color: rgb(185, 175, 175);
    top: 70px;
    right: 39px;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
td img{
    width: 50px;
}
td{
    margin-bottom: 10px;
}
.tabla_carrito{
    width: 700px;
    line-height: 50px;
    text-align: center;
}
.borrarProd{
    display: flex;
    background-color: whitesmoke;
    padding: 0px;
    border: none;
    border-radius: 50%;
}
.borrarProd i{
    color: red;
    padding: 0px;
    font-size:20px ;
}
.borrarProd i:hover{
    color: yellow;
    background-color: black;
    border: none;
    border-radius: 50%;
}
.galeria{
    width: 95vw;
    margin: 90px auto;
}
.galeria img{
    width: 100%;
    height: 700px;
}
.alto{
    height: 800px;
}

.main{
    display: grid;
    height: max-content;
    grid-template-columns: 15% auto;
    grid-template-rows: auto;
}
.filtros{
    display: flex;
    margin-left:40px;
    align-items: center;
    flex-direction: column;
    background-color:grey;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
.filtros h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.filtro_style{
    margin-top: 20px;
    
}
.filtro_gral{
    display: flex;
    align-items: center;
    height: max-content;
    width: max-content;
    margin-top: 25px;
}
.filtro_gral p{
    width: 120px;
    margin: 0;
    margin-right: 10px;
}
#productos{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 25px 20px 0 0;
}
.cardProduct{
    height:28rem;
    padding: 10px;
}
.cardProduct div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    padding: 3px;
}
.cardProduct img{
    height: 270px;
}
.cardProduct p{
    width: 100%;
    font-weight:500;
    font-size: 18px;
}

